doctype html
html
  head
    title QR Code Generator
  body
    header
      h1 QR Code Generator
    main
      section
        h2 Documentation
        p This is where you can add the documentation for your QR-code generator.
      section
        h2 Create a QR-code
        form(action="/generate-qr" method="POST")
          label(for="name") Enter name for QR code:
          input#name(type="text" name="name")
          label(for="data") Enter data for QR code:
          input#data(type="text" name="data")
          label(for="important") Mark as important:
          input#important(type="checkbox" name="important")
          button(type="submit") Generate QR code
      section
        h2 Archive of QR-codes
        button(onclick="location.href='/qrcodes'") View QR Code Archive
