doctype html
html
  head
    title Update QR Code
  body
    header
      h1 Update QR Code
    main
      section
        h2 Update QR Code
        form(action="/update-qr/" + qrCode._id method="POST")
          label(for="name") Enter new name for QR code:
          input#name(type="text" name="name" value=qrCode.name)
          label(for="important") Mark as important:
          input#important(type="checkbox" name="important" checked=qrCode.important)
          button(type="submit") Update QR Code
