h1(style="font-size: 24px; color: #333;") User creation

form(action="/users", method="POST", style="margin-top: 20px;")

    label(for="firstName", style="display: block; margin-bottom: 5px;") first name:
    input(type="text", id="firstName", name="firstName", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="lastName", style="display: block; margin-bottom: 5px;") last name:
    input(type="text", id="lastName", name="lastName", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="email", style="display: block; margin-bottom: 5px;") email:
    input(type="email", id="email", name="email", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="password", style="display: block; margin-bottom: 5px;") password:
    input(type="password", id="password", name="password", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="isAdmin", style="display: block; margin-bottom: 5px;") role:
    select(id="isAdmin", name="isAdmin", style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")
        option(value='false', selected) User
        option(value='true') Admin

    input(type="submit", value="Submit", style="background-color: #28a745; color: #fff; padding: 10px; border: none; cursor: pointer;")

hl(style="margin-top: 20px;")
a(href="/", style="text-decoration: none; color: #007bff; margin-right: 10px") Home page
a(href="/users", style="text-decoration: none; color: #007bff;") Users list